<body>
    <section>

        <h1>About Us</h1>
        <div class="container">
           
            <div class="row_txt">
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate unde tenetur animi quis aperiam 
                    alias placeat? Modi reiciendis ullam obcaecati cumque minima nesciunt omnis blanditiis perspiciatis 
                    excepturi, illo inventore, sint doloremque facilis, similique commodi nihil officiis deleniti odio 
                    voluptatem. Amet nulla facere neque? Natus eius, tenetur inventore repellat incidunt delectus praesentium
                     dignissimos reiciendis ipsam molestias nostrum illo recusandae eum vitae qui nesciunt tempore quis eos? 
                     Obcaecati modi sed earum iste magni optio quibusdam nihil. Ipsam dolore repellat repudiandae eligendi, 
                     quos animi. Voluptatibus commodi adipisci sed exercitationem a est consequatur, doloremque rem libero 
                </h4>
    
            </div>
            <div class="row_img">
                <img src="https://i.postimg.cc/X7WRBfq2/5.jpg" alt="">
    
            </div>
        </div>
    </section>
</body>


