<section>
    <div class="main_sec">
        <div class="quality">
            <i class="fa-regular fa-thumbs-up" style="color: #ffffff;"></i>
            <h1>Quality</h1>
            <p>We guarantee that only the finest leather and materials are used. We are committed to manufacturing and importing the best quality product, evident in every finished pair of shoes.</p>

        </div>
        <div class="quality">
            <i class="fa-solid fa-shoe-prints" style="color: #ffffff;"></i>
            <h1>Style</h1>
            <p>LOGO is dedicated to creating beautiful and unique shoes with exceptional impeccable style</p>

        </div>
        <div class="quality">
            <i class="fa-solid fa-leaf" style="color: #ffffff;"></i>
            <h1>Comfort</h1>
            <p>Our footwear collection is crafted with unmatched attention to detail that are ultra luxurious, super comfortable and a joy to wear.</p>

        </div>
    </div>
</section>
