<section>
    <div class="footer_heading">
        <span> Contant Us</span>
    </div>
    <div class="container">
        <div class="social_media">
            <span><i class="fa-brands fa-google" style="color: #ffffff;"></i></span>
            <span><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></span>
            <span><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></span>
            <span><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></span>
         </div>
        <div class="copy_right">
            <h5>OxFORD</h5>
            <span>all rights reserved @oxford -2023</span>

        </div>


    </div>
</section>