<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="main_body">
        <div class="body_left">
            <div class="body_txt">
                <Span class="get">GET</Span><br>
                <Span class="ready">READY</Span><br>
                <Span class="shop">SHOP </Span>
                <div class="quote_txt">
                    <span class="quot">"Sometimes that's all you get out of life. Great shoes.”</span>
                 </div>
            </div>

        </div>
        <div class="body_right">
            <img src="https://i.postimg.cc/SKGS5713/51zzxl-Yvk9-L-UL1024-removebg-preview.png" alt="Frontimage">
            

        </div>
    </section>
    
</body>
</html>
<app-fasion-tips></app-fasion-tips>
<app-view-all-products></app-view-all-products>

