
    
    <div class="container">
      
        <div class="row ">
            <div class="row_img"><img class="img" src="https://i.postimg.cc/htq9kMgM/style-terms.jpg" alt="..." /></div>
            <div class="row_txt">
                <h1 class="row_txt_heading">Business Name or Tagline</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                <div class="row_btn"> <a  href="#!">Learn More</a></div>
            </div>
        </div>
    
      
        <div class="row ">
            <div class="row_txt" style="text-align: end;">
                <h1 class="row_txt_heading">Business Name or Tagline</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                <div class="row_btn" style="float: right;"> <a  href="#!">Learn More</a></div>
                
            </div>
            <div class="row_img" style="float: right;"><img class="img" src="https://i.postimg.cc/Y2JxXD8q/4.jpg" alt="..." /></div>
        </div>
    </div>


